<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageName}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
    <style>
      .background {
          background-color: {{color}};
          color: white;
          text-align: center;
      }
    </style>
  </head>
  <body>
    {% if times >= 15%}
    <marquee
      ><h1 class="background">Thats too many {{name.upper()}}!</h1></marquee
    >

    {% else %} {% for i in range(times) %}
    <marquee><h1 class="background">Welcome, {{name.upper()}}</h1></marquee>
    {% endfor %} {% endif %}
  </body>
</html>
