* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  margin: auto;
  margin-bottom: 15px;
  padding: 10px 20px;
  background: lightgray;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h1 {
  font-size: 2em;
}
nav > input {
  width: 50%;
  height: 20px;
  padding: 10px 5px;
}

.btn {
  padding: 5px 15px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

.blue {
  background: blue;
  color: white;
}

.yellow {
  background: yellow;
  color: black;
  margin-top: 15px;
  font-weight: bold;
}

.green {
  background: green;
  color: black;
  margin-top: 15px;
  margin-bottom: 8px;
  width: 100%;
  font-weight: bold;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 15px;
}

.definitions {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.definition-container {
  border: 3px solid black;
  padding: 15px;
  display: flex;
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.word > h2 {
  font-size: 2em;
}

.word > h3 {
}

.definition {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  padding: 0px 30px;
}

.add-container {
  width: 30%;
}

.add-card {
  padding: 10px;
  border: 3px solid black;
}
.add-card > p {
  font-size: 1.5em;
}
