<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="border-bottom d-flex justify-content-around p-3">
      <h1>Add a new User</h1>
      <a href="/users" class="btn btn-primary">Home</a>
    </nav>

    {% for user in user_data %}
    <form
      action="/users/edit/submit/{{user.id}}"
      method="post"
      class="w-50 mx-auto"
    >
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          value="{{user.first_name}}"
        />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="last_name"
          value="{{user.last_name}}"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          value="{{user.email}}"
        />
      </div>
      <input type="submit" class="btn btn-success m-3" value="Update" />
      <a href="/users/{{user.id}}" class="btn btn-success m-3">Show User</a>
    </form>
    {% endfor %}
  </body>
</html>
