* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 25px;
}

#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  height: 300px;
  width: 225px;
  border: 2px solid black;
  background: palevioletred;
  margin-bottom: 25px;
}
