* {
  margin: 0;
  padding: 0;
}

#header {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 25px 0;
  border-bottom: 3px solid black;
}

#container {
  width: 100%;
  height: 80vh;
  background: green;
}

#sidebar {
  display: inline-block;
  height: 100%;
  width: 25%;
  background: deeppink;
  margin-right: 25px;
}

#articles {
  display: inline-block;
  width: 70%;
  height: 100%;
  /* background: goldenrod; */
}

.article {
  margin-bottom: 25px;
  display: block;
  height: 45%;
  width: 100%;
  background: darkseagreen;
}
